* text=auto

.gitattributes export-ignore
.gitignore export-ignore
build.config.js export-ignore
/resources export-ignore
README.md export-ignore
CHANGELOG.md export-ignore
LICENSE export-ignore
package.json export-ignore
shrinkwrap.yaml export-ignore
build.config.js export-ignore